<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531113037200-ujc9h404dtnsr2pummh91ohd9ce3nbn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531113037200-ujc9h404dtnsr2pummh91ohd9ce3nbn3</string>
	<key>API_KEY</key>
	<string>AIzaSyDX_QBFALhB3bzzJYWbwVYPGm4ngKzNWYE</string>
	<key>GCM_SENDER_ID</key>
	<string>531113037200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shvedi.dmx512</string>
	<key>PROJECT_ID</key>
	<string>dmx-512</string>
	<key>STORAGE_BUCKET</key>
	<string>dmx-512.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531113037200:ios:6046fcdfba520947b0f715</string>
</dict>
</plist>